<div class='landing'>
  <div class='heading container'>
    <h1 class='heading-title'> Bookmarking redefined</h1>
    <h2 class='heading-subtitle'> Create a toolbox from your findings and acces it everywhere</h2>
      <%= image_pack_tag 'media/images/logo-alpha.png' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-dark'%>
  </div>

  <div class='intro container'>
    <h1> We are developers <i class="fa fa-tv"></i></h1>
    <p class='intro-text'>
      Researching about ML, digging on new tech stacks, looking for APIs best practices... We end up with a nice amount of resources which have to be somehow stored.
      <br /><br />
      Most of our home-made solutions went over bloating our Pocket inbox, folders of bookmarks, Excel sheets, notes...
      <br /><br />
      We didn't need another read-later app, we needed a toolbox🛠.
      <br /><br />
      SaveTech comes to the rescue, to aggregate all of that on a clean interface.
    </p>
  </div>

  <div class='how-it-works container'>
    <h1> How it works </h1>
    <div class='row'>
      <div class='col-6'>
        <ul>
          <li><p>Install the Chrome plugin and save your favourite links.</p></li>
          <li><%= feather('tag', "Tag on save.") %></li>
          <li><p>Filter and consume your content on our minimalistic UI.</p></li>
        </ul>
      </div>
      <div class='col-4'>
        <%= image_pack_tag 'media/images/chrome-badge-big.png' %>
      </div>
    </div>
    <div class='video'>
      <video loop autoplay controls muted>
        <source src="<%= asset_pack_path("media/images/save-tech.mp4") %>" type="video/mp4">
      </video>
    </div>
  </div>

  <div class='next-features container'>
    <%= image_pack_tag('media/images/coming-soon.png', class: 'coming-soon') %>
    <h1>Roadmap </h1>

    <div class='row'>
      <div class='col'>
        <h2 class='features-title'> For teams </h2>
      </div>
      <div class='col'>
        <h2 class='features-title'> Themable </h2>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <p class='features-content'> Build up your company's knowledge from crowd-base discoveries. <br /> Share your tags with the rest of the team. </p>
      </div>
      <div class='col'>
        <p class='features-content'> Adapt every element of the UI based on your personal preferences. <br /> Select per item or directly import your editor configs.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <%= image_pack_tag 'media/images/share.png' %>
      </div>
      <div class='col'>
        <%= image_pack_tag 'media/images/palette.png' %>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <h2 class='features-title'> Workspaces </h2>
        <p class='features-content'> Because not everything is about tech. <br /> Save your favourite recipes or travel tips without messing with your main content. </p>
        <%= image_pack_tag 'media/images/workspace.png' %>
      </div>
    </div>
  </div>

  <div class='mailchimp-newsletter'>
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
    <form action="https://devsontrees.us8.list-manage.com/subscribe/post?u=dafb047f9bfbacd34dec99188&amp;id=331d2ae6b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to get roadmap updates</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dafb047f9bfbacd34dec99188_331d2ae6b9" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </div>

  <a onclick="topFunction()" id="goTop" class='btn btn-sm btn-outline-dark' title="Go to top"> <%= feather('arrow-up') %> </a>

  <%= render partial: "layouts/footer" %>
</div>
