<div class="card mb-4 box-shadow card-item d-flex">
  <div class ='d-flex'>
    <%= link_to image_tag(item.image || asset_pack_path('media/images/default.jpg'), class: 'card-img-top', alt: "Icon"), item.link, target: :_blank %>

    <%= link_to item.title.present? ? item.title[0,70] : item.link, item.link, class: 'h6 card-title', alt: "Title", target: :_blank %>

    <div class="dropdown action-box">
      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ...
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to feather("edit", 'Edit'), edit_item_path(item), class: 'dropdown-item'%>
        <%= link_to feather("trash", 'Delete'), item, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure that you want to delete the tool?'} %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <%= link_to item.description.present? ? item.description : item.link, item.link, class: 'card-text item-description', alt: "Description", target: :_blank %>
    <div class="d-flex tag-box">
      <% item.tags.pluck(:name).map do |tag| %>
        <%= link_to tag, filter_items_path(name: tag), class: 'btn btn-sm btn-outline-info btn--card', remote: true %>
      <% end %>
    </div>
    <div class='timestamp'>
      <small class="text-muted"><%= "#{time_ago_in_words(item.created_at).gsub('about','')} ago" %></small>
    </div>
  </div>
</div>
