<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card-deck">
    <% @items.each do |item| %>
      <div class="card" style="width: 12rem;">
        <img src="<%= item&.second.try(:[],'image')%>" class="card-img-top" alt="..." style="width: 12rem">
        <div class="card-body" style="width: 12rem;">
          <h5 class="card-title"> <%= item.second['title']%> </h5>
          <p class="card-text"> <%= item.second['description']%> </p>
          <a href=<%= item.first.link %> class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
