<header>
  <nav class="navbar navbar-light">
    <div class='row'>
      <div class='col-sm'>
        <% if user_signed_in? %>
          <%= link_to feather('plus-square', 'New item'), new_item_path, class: 'navbar-brand'%>
        <% end %>
      </div>

      <div class='col-sm col-centered'>
        <%= link_to feather('save', 'Save Tech', 'right'), items_path, class: 'navbar-brand' %>
      </div>

      <div class='col-sm col-session'>
        <div class='session-buttons'>
          <% if user_signed_in? %>
            <%= link_to "#{current_user.email}", edit_user_registration_path, class: 'btn btn-outline-dark navbar-button' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark navbar-button' %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-dark navbar-button'%>
            <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-dark navbar-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
