<!DOCTYPE html>
<html lang="en" class="full-height">
  <head>
    <title>SaveTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light sm-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto col-sm">
            <li class="nav-item active">
              <a class="navbar-brand" href="/">Save Tech 📖 </a>
            </li>
          </ul>
          <div class="col-sm">
            <%= link_to fa_icon("plus-square", text: 'New item').html_safe, new_item_path, class: 'navbar-brand'%>
          </div>
          <form class=" col-sm form-inline my-2 my-lg-0">
            <% if user_signed_in? %>
              <%= link_to "#{current_user.email}", edit_user_registration_path, class: 'btn btn-outline-dark my-2 my-sm-0 navbar-button' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark my-2 my-sm-0 navbar-button' %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-dark my-2 my-sm-0 navbar-button'%>
              <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-dark my-2 my-sm-0 navbar-button' %>
            <% end %>
          </form>
        </div>
      </nav>
    </header>

    <%= yield %>

  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
